<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>LoggedServlet</display-name>
    <servlet-name>LoggedServlet</servlet-name>
    <servlet-class>br.com.matheus.agendamentoservicos.controller.LoggedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggedServlet</servlet-name>
    <url-pattern>/LoggedServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>upload.path</param-name>
    <param-value>src/main/webapp/uploads/servico</param-value>
  </context-param>
  <filter>
    <display-name>PrestadorFilter</display-name>
    <filter-name>PrestadorFilter</filter-name>
    <filter-class>br.com.matheus.agendamentoservicos.controller.PrestadorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrestadorFilter</filter-name>
    <url-pattern>/PrestadorFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ClienteFilter</display-name>
    <filter-name>ClienteFilter</filter-name>
    <filter-class>br.com.matheus.agendamentoservicos.controller.ClienteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ClienteFilter</filter-name>
    <url-pattern>/ClienteFilter</url-pattern>
  </filter-mapping>
</web-app>